* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  color: #11445e;
  font-family: "Crete Round", serif;
  font-size: 24px;
  margin: 10px 0;
}
