<section class="error">
  <p class="error__desc">{{statusCode}}. <span class="error__msg">{{errorMessage}}</span></p>
  <img class="error__image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN8hxPD0y2AIo2NwKcrr0V3RiX7YomhNggm2fPhN6dgIY2Jjel" alt="error">
</section>
